<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<P>Click <A href="{{originalUrl}}?client_name=FormClient">here</A> to login via form</P>

<P> Click <A href="{{originalUrl}}?client_name=FacebookClient">here</A> to login via facebook</P>
</body>
</html>